body {
    padding: 0;
    margin: 0;
    background:#dddddd;
}

.container {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    justify-items: center;
}

.bloco1 {
    background: white;
    
}

.bloco2 {
    
}
.caix1 {
    background: #dddddd;
    font-weight: bold;
    
}
.caix2 {
    background: white;
}
.caix3 {
    background: white;
    color: black;
    font-family: Arial;
    text-align: justify;
    font-size: 45px;

}
.caix4 {
    background: white;
    color: black;
    font-family: Arial;
    text-align: justify;
    font-size: 45px;
}

.bloco3 {
    
}

.caixa1 {
    background: blue;
    color: white;
    font-weight: bold;
    text-align: center;
}
.caixa2 {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
}
a {
    text-decoration: none;
    color:black
	}

