body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.barra-top {
    background: red;
    width: 100vw;
    height: 80px;
}

.section {
    background: white;
    width: 100vw;
}

.caixa-azul ul {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
.caixa-azul li {
    margin-left: 10px;
    margin-right: 10px;
    background: blue;
    padding: 50px;
    width: 400px;;

}

.caixa-amarela ul {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
.caixa-amarela li {
    margin-left: 10px;
    margin-right: 10px;
    background: yellow;
    padding: 50px;
    width: 400px;;

}

.caixa-preta ul {
    display: flex;
    width: 100vw;
    justify-content: space-around;

}
.caixa-preta li {
    margin-left: 10px;
    margin-right: 10px;
    background: black;
    color: white;
    padding: 50px;
    width: 700px;
    height: 400px;

}

.caixa-cinza ul {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
.caixa-cinza li {
    margin-left: 10px;
    margin-right: 10px;
    background: grey;
    padding: 50px;
    width: 400px;;

}

 li {
     list-style: none;
 }

 @media screen and (max-width: 300px) {
    .caixa-azul > li {background-color: green;}
 }
 